/* colors
green #8fb9a8
yellow #fefad4
pink #fcd0ba
red #f1828d
drk #765d69 */

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family: 'Roboto';
}

header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  background-color: #765d69;
  color:white;
  padding:0 20px;
  height:80px;
}

.title {
  color: #8fb9a8;
}

.search-container {
  display:flex;
  height:35px;
}

.search-icon {
  height:35px;
  background-color: #765d69;
  border-radius: 10px 0px 0px 10px;
  padding:5px;
  margin:0;
  cursor:pointer;
}

.search {
  width:200px;
  height:35px;
  border-radius: 0 10px 10px 0;
  margin:0;
}

main {
  display:flex;
  background:#765d69;

}

.aside {
  color:white;
  height: calc(100vh - 80px);
  width: 18%;
  min-width: 200px;
  background-color: #765d69;
  border-radius:15px;
  border-right: 2px dashed #f1828d;
  border-top: 2px dashed #f1828d;
  padding:20px 10px;
}

.aside__header {
  margin:auto;
  font-size:18px;
}
.dom-task {
  display:flex;
}

.text-input {
 padding-left:10px;
 margin:0;
}

.lable,
.js__taskList {
  margin-left:7%;
  list-style: none;
}

.lable {
  font-size: 12px;
  margin-top:15px;
}

.btn,
input,
.list-container {
  width:90%;
  height:30px;
  font-size:20px;
  margin:0 10px 10px 10px;
  border-radius:10px;
  outline:none;
}

.task-title {
  width:90%;
  margin:0 auto 10px 5%;

}

.btn{
  cursor:pointer;
  background-color: #f1828d;
  color:white;
}

.list-item {
  width:76%;
  margin-right:0;
  border-radius:10px 0 0 10px
}

.add-task {
  width:20%;
  height:30px;
  font-size:20px;
  line-height: 20px;
  margin:0;
  border-radius: 0 10px 10px 0;
  height:30px;
  background-color: #f1828d;
  color:white;
}

.main__div-list {
  background-color:#765d69;
  width:82%
}


/* Task List Styles */

.checklist{
  width:200px;
  border:2px dashed #f1828d;
  border-radius: 10px;
  margin:5px 10px;
  background-color:#fefad4;
  display:inline-block;

}

.list-header{
  background-color: #f1828d;
  border-radius: 10px 10px 0px 0px;
  font-size: 18px;
  line-height: 28px;
  color:white;
  padding-left: 10px;
  margin-bottom:10px;
}

.task-list {
  list-style: none;
  padding-left:10px;
}

.task-item {
  margin-bottom: 8px;
}

.icon {
  height:16px;
  width:16px;
  display:inline-block;
  margin:0;
}
.task-text{
  display: inline-block;
  margin-left:5px;
}

.list-footer{
  display:flex;
  justify-content: space-between;
  padding:5px 5px 10px 10px;
  border-top:2px dashed #f1828d;
  padding-top:15px;
  margin-top:5px;
}

.urgent-btn,
.delete-btn {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:14px;
  cursor:pointer;
  border:none;
  background-color: #fefad4;
}